<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

<!-- Formulario Filtro de búsqueda, se ve cuando la AccionABMC es "L"(busqueda/listado)-->
<form name="FormBusqueda" [formGroup]="FormBusqueda" class="bg-light" *ngIf="AccionABMC == 'L'">
  <!-- Botones -->
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="Buscar();">
      <span class="fas fa-search"> </span> Buscar
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="Agregar();">
      <span class="fas fa-plus"> </span> Agregar
    </button>
    &nbsp;
  </div>
</form>

<!-- Tabla de resutados de busqueda y Paginador-->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' &&  Items?.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Fecha</th>
        <th class="text-center">Condicion de venta</th>
        <th class="text-center">Cliente</th>
        <th class="text-center text-nowrap">Total</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td class="text-right">{{item.fecha}}</td>
        <td class="text-right">{{item.condVenta | uppercase}}</td>
        <td>{{item.cliente.razonSocial | uppercase}}</td>
        <td>{{calcularTotal(item) | currency:"$"}}</td>
        <td class="text-center text-nowrap">
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Consultar"
            (click)="Consultar(item)"
          >
            <span class="fas fa-eye"></span>
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Modificar"
            (click)="Modificar(item)"
          >
            <span class="fas fa-pencil-alt"></span>
          </button>
                    <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            title="Eliminar"
            (click)="Eliminar(item)"
          >
            <span class="fas fa-times"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--No se encontraron registros-->
<div id="divMsjFormBusqueda" class="alert alert-info" *ngIf="AccionABMC == 'L' && Items?.length== 0">
  <span class="fas fa-exclamation-sign"></span>{{Mensajes['SD']}}
  <!-- texto: No se encontraron registros -->
</div>

<!-- Registro en Alta,Modificacion o Consulta -->
<form name="FormRegistro" *ngIf="AccionABMC != 'L'" [formGroup]="FormRegistro">
  <fieldset [disabled]="AccionABMC==='C'">
    <!--campo fecha-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="fecha">
        Fecha <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input id="inputFecha" type="text" class="form-control text-uppercase" formControlName="fecha" [ngClass]="{'is-invalid':(FormRegistro.controls.fecha.touched || submitted) && FormRegistro.controls.fecha.errors}" />
        <span class="text-danger" *ngIf="FormRegistro.controls.fecha.errors && FormRegistro.controls.fecha.errors.required ">
          Dato requerido
        </span>
        <span class="text-danger" *ngIf=" (FormRegistro.controls.fecha.errors?.minlength || FormRegistro.controls.fecha.errors?.maxlength)">Dato fecha</span>
      </div>
    </div>

    <!--campo fecha-->
    <div class="form-group row" *ngIf="AccionABMC != 'A'">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Razon Social 
      </label>
      <div class="col-sm-6">
        <input
          id="inputRazonSocial"
          class="form-control text-uppercase"
          name="razonSocial"
          formControlName="razonSocial"
        />
      </div>
    </div>
  


    <!--campo cuit-->
    <div class="row form-group" *ngIf="AccionABMC != 'A'">
      <label class="col-form-label col-sm-2 offset-sm-2" for="CUIT">
        CUIT
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="CUIT"
          class="form-control"
          formControlName="CUIT"
        />
      </div>
    </div>

    <div class="form-group row" *ngIf="AccionABMC != 'C'">
      <label 
        id="lblCliente"
        class="col-form-label col-sm-2 offset-sm-2"
        >
        Cliente
      </label>
      <div class="col-sm-6">
        <select
          id="selectCliente"
          class="form-control text-uppercase"
          name="productos"
          formControlName="productos" 
        >
        <option [ngValue]="item._id" *ngFor="let item of Clientes">{{item.razonSocial}}</option>
        </select>
      </div>
    </div>

    

    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Condicion de Venta 
      </label>
      <div class="col-sm-6">
        <input
          class="form-control text-uppercase"
          name="condVenta"
          formControlName="condVenta"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Vencimiento
      </label>
      <div class="col-sm-6">
        <input
          class="form-control text-uppercase"
          name="vencimiento"
          formControlName="vencimiento"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Remito
      </label>
      <div class="col-sm-6">
        <input
          class="form-control text-uppercase"
          name="remito"
          formControlName="remito"
        />
      </div>
    </div>
    
    <div class="form-group row">
      <button type="button" class="btn btn-primary" (click)="AgregarDetalle();" *ngIf="AccionABMC != 'C'">
        <span class="fas fa-plus"> </span> Nuevo Detalle
      </button>
      <label 
        id="lblProducto"
        class="col-form-label col-sm-1 offset-sm-2"
        style="display: none;">
        Producto
      </label>
      <div class="col-sm-6">
        <select
          id="selectProducto"
          class="form-control text-uppercase"
          name="productos"
          formControlName="productos"
          style="display: none;"
          (change)="BuscarListas()" 
        >
        <option [ngValue]="item._id" *ngFor="let item of Productos">{{item.descripcion}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label 
      id="lblLista"
      class="col-form-label col-sm-2 offset-sm-2"
      style="display: none;">
      Lista de Precios
    </label>
    <div class="col-sm-6">
      <select
        id="selectLista"
        class="form-control text-uppercase"
        name="listas"
        formControlName="listas"
        style="display: none;"
        (click)="MostrarPrecio()"
      >
      <option [ngValue]="item.precio" *ngFor="let item of Precios">{{item.lista_id.nombre}}</option>
      </select>
    </div>
    </div>

    <fieldset disabled="true">
    <div class="form-group row">
      <label 
        id="lblPrecio"
        class="col-form-label col-sm-2 offset-sm-2"
        style="display: none;">
        Precio
      </label>
      <div class="col-sm-6">
        <input
          id="inputPrecio"
          class="form-control text-uppercase"
          name="precio"
          formControlName="precio"
          style="display: none;"
        />
      </div>
    </div>
    </fieldset>

    <div class="form-group row">
      <label 
        id="lblCantidad"
        class="col-form-label col-sm-2 offset-sm-2"
        style="display: none;">
        Cantidad
      </label>
      <div class="col-sm-6">
        <input
          id="inputCantidad"
          class="form-control text-uppercase"
          name="cantidad"
          formControlName="cantidad"
          style="display: none;"
        />
      </div>
    </div>

    <div class="form-group row">
      <button 
        id="btnDetalle"
        type="button" class="btn btn-primary col-sm-2 offset-sm-2" (click)="AgregarATabla();" *ngIf="AccionABMC != 'C'"
        style="display:none">
        <span class="fas fa-plus"> </span> Confirmar
      </button>
    </div>
    <!--Tabla detalles-->
    <div>
    <table 
      id="tablaDetalles"
      class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center">Producto</th>
          <th class="text-center">Cantidad</th>
          <th class="text-center">Precio Unitario</th>
          <th class="text-center text-nowrap">Subtotal</th>
          <th class="text-center text-nowrap">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Detalles">
          <td class="text-right">{{item.producto.descripcion | uppercase}}</td>
          <td class="text-right">{{item.cantidad }}</td>
          <td>{{item.precioUnit | currency:"$"}}</td>
          <td>{{detSubtotal(item) | currency:"$"}}</td>
          <td class="text-center text-nowrap">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary"
              title="Modificar"
              (click)="Modificar(item)"
            >
              <span class="fas fa-pencil-alt"></span>
            </button>
                      <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              title="Eliminar"
              (click)="Eliminar(item)"
            >
              <span class="fas fa-times"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <fieldset disabled="true">
  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      IVA ({{porcIVA}}%)
    </label>
    <div class="col-sm-6">
      <input
        id="inputIVA"
        class="form-control text-uppercase"
        name="subIVA"
        formControlName="subIVA"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      IIBB ({{porcIIBB}}%)
    </label>
    <div class="col-sm-6">
      <input
        id="inputIIBB"
        class="form-control text-uppercase"
        name="subIIBB"
        formControlName="subIIBB"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-2">
      Total 
    </label>
    <div class="col-sm-6">
      <input
        id="inputTotal"
        class="form-control"
        name="total"
        formControlName="total"
      />
    </div>
  </div>
</fieldset>
  </fieldset>


  <!-- Botones Grabar, Cancelar/Volver' -->
  <div class="row justify-content-center">
    &nbsp;
    <button type="button" class="btn btn-warning" (click)="Volver()">
      <span class="fas fa-undo"></span>
      {{AccionABMC == 'A' || AccionABMC == 'M' ? 'Cancelar' : 'Volver'}}
    </button>
    <button type="button" class="btn btn-primary" (click)="AgregarNuevaVenta()">
      <span class="fas fa-plus">Grabar</span>
      
    </button>
  </div>

  <!--texto: Revisar los datos ingresados...-->
  <div id="divMsjFormRegistro" class="row alert alert-danger" *ngIf="submitted && FormRegistro.invalid">
    <span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
  </div>
</form>