<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

<!-- Formulario Filtro de búsqueda, se ve cuando la AccionABMC es "L"(busqueda/listado)-->
<form name="FormBusqueda" [formGroup]="FormBusqueda" class="bg-light" *ngIf="AccionABMC == 'L'">
  <!-- Botones -->
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="Buscar();">
      <span class="fas fa-search"> </span> Listar
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus"> </span>
      Nuevo
    </button>
  </div>
</form>

<!-- Tabla de resutados de busqueda y Paginador-->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' &&  Items?.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Codigo</th>
        <th class="text-center">Categoria</th>
        <th class="text-center">Descripcion</th>
        <th class="text-center">Stock</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td class="text-right">{{item.codigo}}</td>
        <td class="text-right">{{item.categoria_id.nombre  | uppercase}}</td>
        <td>{{item.descripcion| uppercase}}</td>
        <td class="text-right">{{item.stock}}</td>
        
        <td class="text-center text-nowrap">
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Consultar"
            (click)="Consultar(item)"
          >
            <span class="fas fa-eye"></span>
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Modificar"
            (click)="Modificar(item)"
          >
            <span class="fas fa-pencil-alt"></span>
          </button>
                    <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            title="Eliminar"
            (click)="Eliminar(item)"
          >
            <span class="fas fa-times"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--No se encontraron registros-->
<div id="divMsjFormBusqueda" class="alert alert-info" *ngIf="AccionABMC == 'L' && Items?.length== 0">
  <span class="fas fa-exclamation-sign"></span>{{Mensajes['SD']}}
  <!-- texto: No se encontraron registros -->
</div>

<!-- Registro en Alta,Modificacion o Consulta -->
<form name="FormRegistro" *ngIf="AccionABMC != 'L'" [formGroup]="FormRegistro">
  <fieldset [disabled]="AccionABMC==='C'">
    <input type="hidden" class="form-control" formControlName="_id" [ngClass]="" />
        <!--descripcion-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 offset-sm-2" for="descripcion">
            Descripcion <span class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control text-uppercase" formControlName="descripcion" [ngClass]="{'is-invalid':(FormRegistro.controls.descripcion.touched || submitted) && FormRegistro.controls.descripcion.errors}" />
            <span class="text-danger" *ngIf="(FormRegistro.controls.descripcion.touched || submitted) && FormRegistro.controls.descripcion.errors && FormRegistro.controls.descripcion.errors.required ">
              Dato requerido
            </span>
            <span class="text-danger" *ngIf="(FormRegistro.controls.descripcion.touched || submitted) && (FormRegistro.controls.descripcion.errors?.minlength || FormRegistro.controls.descripcion.errors?.maxlength)">Dato texto de 5 a 50 caracteres</span>
          </div>
        </div>
    <!--codigo-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Codigo <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control text-uppercase" formControlName="codigo" [ngClass]="{'is-invalid':(FormRegistro.controls.codigo.touched || submitted) && FormRegistro.controls.codigo.errors}" />
        <span class="text-danger" *ngIf="(FormRegistro.controls.descripcion.touched || submitted) && FormRegistro.controls.codigo.errors && FormRegistro.controls.codigo.errors.required ">
          Dato requerido
        </span>
        <span class="text-danger" *ngIf="(FormRegistro.controls.descripcion.touched || submitted) && (FormRegistro.controls.codigo.errors?.minlength || FormRegistro.controls.codigo.errors?.maxlength)">Dato texto de 5 a 50 caracteres</span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="categoria">Categoria</label>
      <div class="col-sm-6">
        <select id="categoria_id" name="categoria_id" formControlName="categoria_id">
          <option [ngValue]="item._id" *ngFor="let item of Cats">{{item.nombre}}</option>
        </select>
        <button type="button" class="btn btn-primary" (click)="AgregarCat()">
          <span class="fas fa-plus"> </span>
          Nuevo
        </button>
        <input id="nuevaCat" type="text" class="form-control" formControlName="nuevaCat" style="display: none;" />
        <button id="btnConf" type="button" class="btn btn-primary" (click)="ConfirmarCat()" style="display: none;">
          <span class="fas fa-plus"> </span>
          Confirmar
        </button>
      </div>
    </div>

    <!--campo precioVta-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Stock <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          class="form-control"
          name="stock"
          formControlName="stock"
          [ngClass]="{'is-invalid': (FormRegistro.controls.stock.touched || submitted)  && FormRegistro.controls.stock.errors}"
        />
        <span class="text-danger" *ngIf="(FormRegistro.controls.descripcion.touched || submitted) &&  FormRegistro.controls.stock.errors && FormRegistro.controls.stock.errors.required ">
          Dato requerido
        </span>
        <span class="text-danger" *ngIf="(FormRegistro.controls.descripcion.touched || submitted) && FormRegistro.controls.stock.errors?.pattern">
          Dato numerico.
        </span>
      </div>
    </div>
  </fieldset>



  <!-- Botones Grabar, Cancelar/Volver' -->
  <div class="row justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      (click)="Grabar()"
      *ngIf=" AccionABMC == 'A'  || AccionABMC == 'M' "
    >
      <span class="fas fa-check"></span> Grabar
    </button>
    &nbsp;
    <button type="button" class="btn btn-warning" (click)="Volver()">
      <span class="fas fa-undo"></span>
      {{AccionABMC == 'A' || AccionABMC == 'M' ? 'Cancelar' : 'Volver'}}
    </button>
  </div>

  <!--texto: Revisar los datos ingresados...-->
  <div id="divMsjFormRegistro" class="row alert alert-danger" *ngIf="submitted && FormRegistro.invalid">
    <span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
  </div>
</form>